<form method="POST" action="/movies/{{#if movie.id }}{{ movie.id }}?_method=PUT{{/if}}" class="well">
  <div class="row">
    <div class="col-md-6">
      <div class="form-group">
        <label for="title">Title</label>
        <input type="text" name="title" class="form-control" id="title" placeholder="Movie Title" value="{{ movie.title }}">
      </div>
    </div>
    <div class="col-md-6">
      <div class="form-group">
        <label for="director">Director</label>
        <input type="text" name="director" class="form-control" id="director" placeholder="Director" value="{{ movie.director }}">
      </div>
    </div>
  </div>

  <div class="row">
      <div class="col-md-6">
        <div class="form-group">
          <label for="year">Year</label>
          <input type="number" name="year" value="{{ movie.year }}" class="form-control" id="year" placeholder="Year">
        </div>
      </div>
      <div class="col-md-6">
        <div class="form-group">
          <label for="rating">My Rating</label>
          <input type="number" name="my-rating" value="{{ movie.my_rating }}" min="0" max="5" class="form-control" id="rating" placeholder="My Rating">
        </div>
      </div>
    </div>

    <div class="row">
      <div class="col-md-12">
        <div class="form-group">
          <label for="poster-url">Poster URL</label>
          <input type="text" name="poster-url" class="form-control" id="poster-url" placeholder="Poster URL" value="{{ movie.poster_url }}">
        </div>
      </div>
    </div>
    <button type="submit" class="btn btn-default">Submit</button>
  </form>
